//META{"name":"ClearVision Mod","description":"Zerthox氏によるClearVision Amberテーマを日本語環境用にカスタマイズ、軽量化したテーマです。","author":"rexent_gx","version":"5.2.3"}*//{}

/* IMPORT CSS FROM GITHUB */
@import url(https://gitcdn.xyz/repo/rexent-gx/ClearVisionMod/master/CSS%20Core/ClearVision_Mod_Core.css);
/*
---------------------------------------------------------------------------------------------------------------------------------------------
IMPORTANT: CHANGE BETWEEN DARK AND LIGHT VERSION IN APPEARANCE SETTINGS!
---------------------------------------------------------------------------------------------------------------------------------------------
*/
/*
============== CUSTOMIZABLE COLORS ===============
*/
:root {
	--main-color: #e67a27;
	--hover-color: #b35d1e;
    --background-blur: 0px;
    --background-brightness: 100%;
}
/*
========= CUSTOMIZABLE BACKGROUND IMAGE ==========
*/
body::after,
.callout-backdrop,
.user-popout::before,
#user-profile-modal .header::before,
#pubs-container::before,
.auth-background,
.auth-tiling-bg,
.invite-modal .invite-splash,
.radio-theme.light label,
.radio-theme.dark label{
    background-image: url(https://github.com/Zerthox/ClearVision/raw/master/images/amber.jpg) !important; /* IMPORTANT: Link must be HTTPS! */
}
/*
/*
========= JAPANESE COMPATIBLE CUSTOMIZATION ==========
*/
.channel-members h2 {
	padding: 5px 0px !important;
	width: auto !important;
}

.chat > .content .messages .message-group .markup {
    padding: 2px 0px;
}
